body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f782d6, #e03da1, #f883fa, #5550f1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input,
select,
textarea {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #d83fad;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    background-color: #e75eb5;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    margin-right: 5px;
}

.button-group button:last-child {
    margin-right: 0;
}

#registrationSuccess {
    margin-top: 20px;
    text-align: center;
    display: none;
}

.hidden {
    display: none;
}

#stepIndicator {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
}

#stepIndicator span.active {
    background-color: #fc3dcc;
}

.separator {
    flex: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
    align-self: center;
}
